body {
  background: #0D0D0D;
  color: #EDEDED;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}


a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3 {
  margin: 0 0 15px 0;
  font-weight: 700;
}

a:hover {
  opacity: 0.7;
}

header a:hover {
  color: #FF0043;
  text-shadow: 0 0 6px rgba(255, 0, 67, 0.6);
  transform: translateY(-2px);
}

